.menu {
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;
}

.menu a {
	text-decoration: none;
}

.menu-container {
	margin-top: 20px;
	margin-bottom: 10px;
}

.menu-item {
	flex: 1;
	padding: .5rem 20px;
	text-align: center;
	color:#000000;
	cursor: pointer;
}

.menu-item:hover {
	color: #37c1d6;
	transition: color ease .5s;
}

.menu-item.active {
	color: #15acc0;
}

.menu-arrow {
	color: #cccccc;
	font-size: 1.5rem;
}
