.menu {
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;
}

.menu a {
	text-decoration: none;
}

.menu-item {
	flex: 1;
	padding: .5rem 20px;
	text-align: center;
	color:#000000;
}

.menu-item.active {
	color: #15acc0;
}

.menu-arrow {
	color: #cccccc;
	font-size: 1.5rem;
}
